# =========================
# Arduino IDE build files
# =========================

# Ignorar carpetas de build
build/*
build-*/
*.build/

# PERMITIR SOLO el .ino.hex dentro de build/
!build/*.ino.hex

# =========================
# Otros binarios Arduino
# =========================
*.elf
*.eep
*.bin
*.with_bootloader
*.with_bootloader.hex

# =========================
# Temporales del sistema / IDE
# =========================
*.tmp
*.bak
*.log
.cache/
.tmp/
