# =========================
# Arduino IDE build files
# =========================

# Ignorar todo lo que genere el build
*.elf
*.eep
*.bin
*.with_bootloader
*.with_bootloader.hex

# Ignorar temporales del IDE
*.tmp
*.bak
*.log

# Carpetas de compilación (Arduino IDE / CLI)
build/
build-*/
*.build/
.cache/
.tmp/

# Ignorar TODO .hex...
*.hex

# ...EXCEPTO los .ino.hex
!*.ino.hex
